<div id="slideshow">
    <ul class="slides">
        <li><a href="preview.html"><img src="images/1.jpg" alt="Marsa Alam underawter close up" height="342px" /></a></li>
        <li><a href="preview-2.html"><img src="images/2.jpg" alt="Turrimetta Beach - Dawn" height="342px"/></a></li>
        <li><a href="preview-6.html"><img src="images/3.jpg" alt="Power Station" height="342px"/></a></li>
        <li><a href="preview-3.html"><img src="images/4.jpg" alt="Colors of Nature" height="342px"/></a></li>
    </ul>
    <span class="arrow previous"></span>
    <span class="arrow next"></span>
</div>